body {
  background-color: #f1f1f1;
}

.movie__data {
  display: flex;
  justify-content: left;

  padding: 0 5px 0 5px;
}
.movie__eachInfo {
  border: solid 1px black;
}

.movie__rank {
  width: 150px;
}

.movie__name {
  width: 330px;
  padding-right: 50px;
}
.movie__date {
  width: 300px;
}

.movie__rate {
  width: 180px;
}
.movie__cnt {
  width: 300px;
}
