body {
  background-color: #f1f1f1;
}
.movie__title {
  display: flex;
  justify-content: left;

  font-size: 25px;
  padding: 0 25px 0 5px;
}
.movie__data {
  display: flex;
  justify-content: left;

  padding: 0 25px 0 5px;
}
.movie__title_font {
  border: solid 1px black;
  padding: 5px 30px 5px 30px;
}
.movie__eachInfo {
  border: solid 1px black;
  font-size: 20px;
  padding: 5px 30px 5px 30px;
}

.movie__rank {
  width: 80px;
  display: flex;
  justify-content: center;
}

.movie__name {
  width: 250px;
}
.movie__date {
  width: 150px;
  display: flex;
  justify-content: center;
}

.movie__rate {
  width: 100px;
  display: flex;
  justify-content: center;
}
.movie__cnt {
  width: 150px;
}
