body {
  background-color: #f1f1f1;
}
.movie__title {
  display: flex;
  justify-content: left;

  font-size: 40px;
  padding: 0 25px 0 5px;
}
.movie__data {
  display: flex;
  justify-content: left;

  padding: 0 25px 0 5px;
}
.movie__title_font {
  border: solid 1px black;
  padding: 5px 30px 5px 30px;
}
.movie__eachInfo {
  border: solid 1px black;
  font-size: 30px;
  padding: 5px 30px 5px 30px;
}

.movie__rank {
  width: 200px;
  display: flex;
  justify-content: center;
}

.movie__name {
  width: 500px;
}
.movie__date {
  width: 300px;
  display: flex;
  justify-content: center;
}

.movie__rate {
  width: 180px;
  display: flex;
  justify-content: center;
}
.movie__cnt {
  width: 300px;
}
